.dropdown-menu {
    background-color: $color-purpleDark;
    padding: 40px;
    position: relative;
    .dropdown-item {
        background-color: transparent;
        position: relative;
        &:hover {
            color: $color-white;
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5px;
                border-radius: 3px;
                background-color: $color-topaz;
            }
        }
    }
}