.dropdown {
  padding: 10px 20px;
  &.show {
    background-color: $color-purpleDark;
    .icon-profile {
      visibility: hidden;
    }
  }
  .dropdown-toggle {
    &:after {
      content: "";
      display: none;
    }
  }
  .dropdown-menu {
    background-color: $color-purpleDark;
    padding: 1.5rem;
    position: relative;
    .dropdown-item {
      background-color: transparent;
      position: relative;
      color: $color-white;
      text-align: center;
      font-weight: bold;
      &:hover {
        color: $color-white;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          border-radius: 3px;
          background-color: $color-topaz;
        }
      }
    }
  }
}

.icon-profile {
  width: 36px;
}