#nav {
    background-color: $bg-default;
    li {
        a {
            color: $bg-primary;
            &.dropdown-item {
   
                color: $color-white;

            }
        }
    }
}
.b-nav {
    &-dropdown {
        .nav-link {
            &:after {
                display: none;
            }
        }
    }
}

.icon-profile {
    width: 33px;
}

