@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


body {
	background-color: $bg-primary;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

img {
	height: auto;
}
.container-fluid {
	max-width: 1990px;
	padding: 0 25px;
}


