// template colors
$bg-primary: #8d8dcb;
$bg-secondary: #17a2b8;
$bg-default: #ffffff;

// static colors 
$color-purpleDark: #6363c8;
$color-purple: #8d8dcb; 
$color-white: #ffffff;
$color-topaz: #17a2b8;
$color-lightgray: #fbfbfb;

$blue:    #007bff !default;
$indigo:  #6363c8 !default;
$purple:  #8d8dcb !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$white:   #ffffff !default;


$transtion-linear:  all 0.3s ease 0s;