// template colors
$bg-primary: #8d8dcb;
$bg-secondary: #17a2b8;
$bg-default: #ffffff;

// static colors 
$color-purpleDark: #6363c8; 
$color-white: #ffffff;
$color-topaz: #17a2b8;
$color-lightgray: #fbfbfb;
